.people__wrapper {
    display: grid;
    grid-template: 1fr / 30% 70%;
}

.people__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    height: 100vh;
    border: 1px solid black;
}

.people__list {
    list-style: none;
}

.people__person {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: all .5s;
}

.people__person:hover {
    border-bottom: 3px solid black;
}